body {
  text-align: center;
  background-color: grey;
  color: #FF8000;
}

h1 {
  margin-top: 15%;
  color: royalblue;
}

input {
  margin: 5px;
  border-radius: 8px;
}

#submit {
  border-radius: 8px;
}
