.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.main h1{
    text-align: center;
    margin-top: 50px;
}

.main::after {
    content: "";
    background-image: url(NHL_Logo.jpg);
    background-size: 50% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: .25;
}

body {
    background-color: lightgrey;
    margin: inherit;
}

label {
    margin: 5%;
}

input {
    margin: 5%;
    width: 90%;
    height: 30px;
}

button {
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.comments {
    float: left;
    width: 45%;
    margin-left: 50px;
    height: 800px;
    outline: 2px solid black;
}

#comments {
    margin: 5%;
    width: 90%;
    height: 700px;
}

.information {
    float: right;
    width: 45%;
    margin-right: 50px;
    height: 800px;
    outline: 2px solid black;
}
